/*css*/
.container {
  display: flex;
  height: 250px;
  padding: 20px;
  background-color: #30302e;
  margin: 10px;
}

.card {
  background-color: #8cc9e4;
  padding: 20px;
  margin: 5px;
  color: #30302e;
}

.row-center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-left {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.row-space-between {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}